#!/bin/bash
{{- $bridgingConfig := . }}

# Get the IPs currently on the bridge used for intercepting VMaaS traffic.
VF_BRIDGE_IPS=$(ip addr show dev {{ .VfInterceptBridgeName }} | grep -oP 'inet\s\K[\d.\/]+')

INCOMING_IPS=("{{ .VfInterceptBridgeIP }}/{{ .InterceptBridgePrefixLen }}" "{{ .SecondaryOverlayVtepIP }}/32")

# Find only the bridge IPs that need to be removed.
OLD_VF_BRIDGE_IPS=$(diff --old-line-format="%L" --unchanged-line-format="" --new-line-format="" \
    <(printf "%s\n" "${VF_BRIDGE_IPS[@]}" | sort) \
    <(printf "%s\n" "${INCOMING_IPS[@]}" | sort))


# Add the new internal routing IPs to the bridge if they need to be added.
if ! ip addr show {{ .VfInterceptBridgeName }} | grep {{ .VfInterceptBridgeIP }}/{{ .InterceptBridgePrefixLen }}; then
    ip addr add {{ .VfInterceptBridgeIP }}/{{ .InterceptBridgePrefixLen }} dev {{ .VfInterceptBridgeName }} || exit $?
fi

if ! ip addr show {{ .VfInterceptBridgeName }} | grep {{ .SecondaryOverlayVtepIP }}/32; then
    ip link set {{ .VfInterceptBridgeName }} up
    # This is how Catalyst learns the current local GENEVE VTEP IP.
    ovs-vsctl set Open_vSwitch . external_ids:ovn-encap-ip={{ .SecondaryOverlayVtepIP }} || exit $?

    ip addr add {{ .SecondaryOverlayVtepIP }}/32 dev {{ .VfInterceptBridgeName }} || exit $?
fi

#### Now update the routes

# Get the existing routes point toward the bridge
VF_BRIDGE_ROUTES=$(ip route | grep -oP '\K[\d.\/]+\svia\s[\d.\/]+(?=\sdev\s{{ .VfInterceptBridgeName }})')

# Get the incoming routes
INCOMING_ROUTES=({{ range .SecondaryVtepAggregatePrefixes }} "{{ . }} via {{ $bridgingConfig.SecondaryOverlayVtepIP }}" {{ end }})

# Find only the routes that need to be removed.
OLD_VF_BRIDGE_ROUTES=$(diff --old-line-format="%L" --unchanged-line-format="" --new-line-format="" \
    <(printf "%s\n" "${VF_BRIDGE_ROUTES[@]}" | sort) \
    <(printf "%s\n" "${INCOMING_ROUTES[@]}" | sort))

# Add any new routes
for r in "${INCOMING_ROUTES[@]}";do
    if ! ip route | grep "${r}"; then
        ip route replace ${r} || exit $?
    fi
done


# Remove old the old routes
for OLD_ROUTE in "${OLD_VF_BRIDGE_ROUTES[@]}";do
    ip route del $OLD_ROUTE  &>/dev/null || true
done;

# Now remove all the old IPs
# If something went wrong, we'll have exited and won't rip down the old IPs.
# The next cycle will put things in order if there are no errors.
for OLD_IP in "${OLD_VF_BRIDGE_IPS[@]}";do
    ip addr del $OLD_IP dev {{ .VfInterceptBridgeName }} &>/dev/null || true
done;
